set timeout=5
set default=0

menuentry "okos" {
  echo "Loading kernel..."  
  multiboot2 /boot/kernel.bin
  echo "Kernel successfully loaded!"
  boot
}

menuentry "Reboot" {
  reboot
}

menuentry "Shutdown" {
  halt
}
